.header-container {
    
    background-image: url('assets/images/foto-kampus.jpg');

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;

    color: #ffffff;
}